@import "tailwindcss";

@theme {
  --color-brand: #f59e0b;
  --color-brand-light: #fef3c7;
  --color-surface: #f0ece4;
  --color-chat-bg: #e8e2d8;
  --color-user-bubble: #ddd6c8;
}

html,
body {
  background-color: #f0ece4;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #d4c9b0;
  border-radius: 10px;
}
